<html>
	<head>
		<title>Quote</title>
		<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet" />
		<style>
			.swap{text-align: center; margin: auto;width: 80%;}
			.quote{ font-family: 'Courgette', cursive, 'Open sans';}
			.sep{margin: 0px 5px;}
			.author{ font-weight: 600;}
		</style>
	</head>
	<body>
		<div class="swap">
			<span class="quote <%= quote.minID %> <%= quote.randID %> <%= quote.id %> <%= quote.maxID %> "><%= quote.quote %></span>
			<span class="sep">-</span>
			<span class="author"><%= quote.author %></span>
		</div>		
	</body>
</html>